html {
    display: border-box;
    line-height: 1.5em;
}

*,
*:bofore,
*:after {
    display: inherit;
}
body {
  margin: 0;
  padding: 0;
  background: #bada55;
  color: #222;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
    padding: 40px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 400px;
    margin: 40px auto;
}


input {
    padding: 10px;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #dddddd;
}

a {
    color: #222;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    background: transparent;
    color: #808080;
    cursor: pointer;
}

button:hover {
    color: #222;
}

*:focus {
    outline: none;
}
